* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

header {
  height: 151px;
  border-bottom: 1px solid black;
}

.container {
  max-width: 1200px;
  height: 150px;
  margin: 0px auto;
  display: flex;
  justify-content: space-between;
}

.container img {
  width: 150px;
  height: 150px;
}

.container > h1 {
  flex-grow: 1;
}

.container > ul {
  flex-grow: 1;
  display: flex;
}

.container > ul > li {
  display: inline-block;
  flex-grow: 1;
  text-align: center;
}

.container > ul > li > a {
  display: inline-block;
  height: 150px;
  line-height: 150px;
  font-size: 20px;
  text-decoration: none;
  color: black;
}

#search-box {
  height: 50px;
  margin: 10px 0px;
}

#search-box input {
  display: block;
  width: 800px;
  height: 50px;
  margin: 0px auto;
}

/** hot album **/

#content {
  width: 1200px;
}

#hot-album div {
  background-color: #bbbbbb;
  height: 200px;
}

#hot-album ul {
  display: flex;
}

#hot-album ul li {
  flex-grow: 1;
}

#today-cakes {
  margin-top: 20px;
}
